.redirect {
    display: flex;
    justify-content: end;
    margin-top: 18px;
    margin-right: 14px;
    text-decoration: none;
}
.button {
    width: 164px;
    height: 36px;
    border-radius: 5px;
    background: #6346B4;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    border: none;
    
   
}
.button:hover {
    background: #A88EF0;
}
.button:active {
    background: #311F63;
}

.table {
    border-radius: 10px 0px 0px 0px;
background: #FFF;
margin-left: 33px;
margin-top: 19px;
width: 100%;
height: 100%;
 
}
table {
   
    border-collapse: collapse;
}
th {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-bottom: 16px;
    position: relative;
    padding-left: 35px;
    padding-top: 18px;
}
 
  thead th {
    border-bottom: 2px solid #898989;
    border-right: 1px solid #C0C0C0;
  }
td {
    padding: 16px 0 16px 0;
    color: #000;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 35px;
    border-bottom:1px solid #C0C0C0;;
}
tbody tr:hover {
    background: rgba(99, 70, 180, 0.25);
}